* @kinde-oss/giants-kinde

# Dependency-related files
build.gradle @kinde-oss/sdk-engineers
**/build.gradle @kinde-oss/sdk-engineers
build.gradle.kts @kinde-oss/sdk-engineers
**/build.gradle.kts @kinde-oss/sdk-engineers
